@model IEnumerable<FundLib.Model.FundDetail>
@{
    ViewData["Title"] = "基金小工具";
}
<p>
    <a asp-action="Export">导出</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th><a>代码</a></th>
            <th><a>名称</a></th>
            <th><a>类型</a></th>
            <th><a>规模(亿元)</a></th>
            <th><a>股票比例(%)</a></th>
            <th><a>债券比例(%)</a></th>
            <th><a>现金比例(%)</a></th>

            <th>重仓股票比例(%)</th>
            <th>重仓债券比例(%)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.code)</td>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.ftype)</td>
                <td>@Html.DisplayFor(modelItem => item.assets)</td>

                <td>@Html.DisplayFor(modelItem => item.stockPercent)</td>
                <td>@Html.DisplayFor(modelItem => item.bondPercent)</td>
                <td>@Html.DisplayFor(modelItem => item.cashPercent)</td>

                <td>@Html.DisplayFor(modelItem => item.topPercent)</td>
                <td>@Html.DisplayFor(modelItem => item.bondTopPercent)</td>
            </tr>
        }
    </tbody>
</table>
