@model IEnumerable<FundLib.Model.FundDetail>
@{
    ViewData["Title"] = "基金小工具";
}

<h1>测试</h1>

<table class="table">
    <thead>
        <tr>
            <th>代码</th>
            <th>名称</th>
            <th>重仓比例</th>
            <th>重仓债券比例</th>
            <th>股票比例</th>
            <th>债券比例</th>
            <th>现金比例</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.topPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bondTopPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bondPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cashPercent)
                </td>

            </tr>
        }
    </tbody>
</table>
